.hero-banner{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero-banner img{
  grid-row: 1/4;
  grid-column: 1/4;
}

.hero-banner a{
  align-self: center;
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 10px;
  
}
.hero-banner__subtitle{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: .8em;
  margin: 10px;

}
.hero-banner__content{
  grid-row: 3;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  
  
}
.disclaimer{
  font-size: .7em;
}
use{
  color: white;
}