/* Headers */

.global-header{
  display: flex;
  background-color: #000;
  max-height: 50px;
  justify-content: space-between;
  
}
.global-header__right{
  display: flex;
  align-items: center;


}
.icon{
  height: 20px;
  width: 20px;

}
#global-nav-toggle{
  align-items: center;
  
  margin-right: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 1.3em;
  color: white;
  background: none;
  border: none;
  margin-left: 20px;
  padding-left: 20px;

  border-left-color: #333;
  border-width: 1px;
  border-style: none none none solid;
  
}

nav ul{
  padding: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
li{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
li span{
  font-size: .7em;
}
span{
  color: white;
  
}
section a{
  text-decoration: none;
  
}

