/* Title and logo styling */
.site-title {
  display: flex;
  align-items: center;
}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

/* Headers */

.global-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  background-color: #000;
  max-height: 5000px;
  
  fill: white;
  
}
.global-header__right{
  grid-column: 3;
  display: flex;
  justify-content: right;
  align-items: center;
  


}
.icon{
  height: 20px;
  width: 20px;

}
#global-nav-toggle{
  align-items: center;
  
  margin-right: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 1.3em;
  color: white;
  background: none;
  border: none;
  margin-left: 20px;
  padding-left: 20px;

  border-left-color: #333;
  border-width: 1px;
  border-style: none none none solid;
  
}



.global-nav{
  grid-row: 2;
  grid-column: 1/4;
  z-index: 5;
  width: 100%;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  
  color: white;

  padding: 15px;
  transition: all 0.5s;
  

}

.global-nav svg{
  --icon-color: white;
}

.global-nav a {
  color: white;
  display: list-item;
}


.global-nav__toggle--open{
  display: none;
  align-items: center;
}

.global-nav__toggle--closed{
  display: flex;
  align-items: center;
}


.global-nav.show{
  max-height: 1000px;
}

.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--open {
  display: flex;
}
.global-nav__toggle[aria-expanded="true"] > .global-nav__toggle--closed {
  display: none;
}

.global-nav__list{
  justify-self: left;
  width: 300px;
  
}
.global-nav__split-button{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.global-nav__split-button a{
  
  width: 200px;
  text-align: left;
}

.global-nav__split-button__toggle{
  background-color: black;
  border: none;
  
  
}


nav ul{
  padding: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-top: 0;
}
li{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
li span{
  font-size: .7em;
}
span{
  color: white;
  
}
section a{
  text-decoration: none;
  
}

.hero-banner{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero-banner img{
  grid-row: 1/4;
  grid-column: 1/4;
}

.hero-banner a{
  align-self: center;
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 10px;
  
}
.hero-banner__subtitle{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: .8em;
  margin: 10px;

}
.hero-banner__content{
  grid-row: 3;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  
  
}
use{
  color: white;
}

