.info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.media-card{
  grid-row: 1;
  padding: 5px;
  margin: 10px;
}
.media h3{
  color: #000;
}
.media h3:hover{
  color: var(--bs-crete);
}
.intro{
  padding: 10px;
  font-family: var(--bs-font-serif);
}

.media-card p{
  font-size: .8em;
}

@media (max-width: 500px) {
  .info {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;
    
  }
  .media-card{
    grid-row: inherit;
  }
  
}