.info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.intro{
  padding: 10px;
  font-family: var(--bs-font-serif);
}

@media (max-width: 500px) {
  .info {
    grid-template-columns: 1fr;
    grid-row: 1fr 1fr 1fr;
    
  }
  .media-card{
    grid-row: inherit;
  }
  
}